body {
  font-family: Roboto;
  margin: 0;
  padding: 0;
  overflow: hidden
}

.tab {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr; /* just for grid of bottom buttons*/
  overflow: hidden;
  /* border: 1px solid #757575; */
  background-color: #01baef;
  position: fixed;
  bottom: 0;
  width:100%;
}

.tab button {
  flex-grow: 1;
  background-color: inherit;
  float: none; 
  border: none;
  outline: none;
  cursor: pointer;
  padding: 8px 10px;
  transition: 0.5s;
  font-size: 40px;
  font-family: 'Bebas Neue';  
  border-radius: 1px;
}


.tab button:hover {
  background-color: #01baef;
}

.tab button.active {
  background-color: #ccc;
}

.tabcontent {
  display: none;
  border-top: none;
  width:100%;
}

.exercise-btn {
  font-size: 40px;
  padding: 15px 30px;
  margin-bottom: 30px;
  background-color: inherit;
  font-family: 'Bebas Neue', cursive;
}

p {
  font-family: 'Roboto', sans-serif;
  font-size: 26px;
  text-align: center;
}

h1 {
  font-family: 'Bebas Neue', cursive;
  font-size: 45px;
}

table {
  width: 100%;
  border-collapse: collapse;
}
th, td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}
th {
  background-color: #f2f2f2;
}
/* Code FROM W3S https://www.w3schools.com/howto/howto_js_accordion.asp*/
/* Style the buttons that are used to open and close the accordion panel */
.accordion {
  background-color: #01baef;
  /* color: #757575; */
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  overflow:hidden;
  transition: 0.4s;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .accordion:hover {
  background-color: #01baef;
}

/* Style the accordion panel. Note: hidden by default */
.panel {
  /* padding: 0 18px; */
  display: none;
  /* height:25%; */
}
/* END CODE */
/* Carlos Code for Home page and Meal Plan */
.left{
  /* padding: 10px; */
  width: 33%;
}
.right{
  /* padding: 10px; */
  width:66%;
}
.settings-container{
  display: flex;
  /* padding: 10px 20px; */
}

/* profile button Butt6on */
#setting {
    font-family: 'Bebas Neue', cursive; 
    font-size: 36px;
    background-color: #01baef; 
    border: none; 
    padding: 8px 20px; 
    text-align: center; 
    text-decoration: none;
    display: inline-block;
    transition-duration: 0.4s; 
    cursor: pointer;
    position: fixed; 
    top: 0; 
    right: 0; 
    border-radius: 25px; 
    margin-top: 10px;
    margin-right: 10px;
  }

  #setting:hover {
    background-color: #ccc; 
    color: black; 
  }

  #profile-info {
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  color: #444;
  padding: 18px;
  width: 100%;
  text-align: left;
}

#profile-info input {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
  display: block;
  max-width: 500px;
}


/* The columns */
.column {
  float: left;
  /* padding: 10px; */
}
/* Div that has all the progress bars. The dotted things on screen */

  .summary-box:after{
  content:"";
  display: table;
  clear: both;
} 
.main-content{
  display:grid;
  grid-template-rows: repeat(3, 1fr);
  width: calc(100%-5px);
  padding-left: 5px;
  height: 85vh;
  align-content: center;
}
.main-content > .summary-content{
  /* background-color: red; */
  font-size: 24px;
  font-family: Roboto;
  height:100%;
  width:100%;
}
.summary-box{
  border-style: solid;
  border-radius: 25px;
  width: 90%;
  height:70%;
}

.Meal-Plan{
  display:grid;
  grid-template-rows: 15% 75% 10%;
  width: 100%
}
.meal-plan-title{
  display: flex;
  justify-content: space-between;
}
.meal-plan-grid{
  display:grid;
  grid-template-rows: 20% 20% 60%;
  padding-left:2vh;
}
.meal-history{
  display: flex;
  justify-content: space-between;
  bottom:0;
  position:fixed;
  padding-bottom: 2vh;
}
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
body{
  font: 16px / 1.4 sans-serif;
}
.links{
  display: grid;
  place-items: center;
  min-height: 100vh;
  align-content: center;
  gap: 10px;
}



.dialog{
  padding: 20px;
  border:0;
  background:transparent;
}

.dialog::backdrop{
  background-color: rgba(0,0,0,.3);
  backdrop-filter: blur(4px);
}

.dialog__wrapper{
  padding:20px;
  background:#fff;
  border-radius: 4px;
  box-shadow: 0 4px 10px rgba(0,0,0,.3);
}

.dialog__close{
  border:0;
  padding:0;
  width: 24px;
  aspect-ratio: 1;
  display: grid;
  place-items: center;
  background:#000;
  color:#fff;
  border-radius: 50%;
  font-size: 12px;
  line-height: 20px;
  position:absolute;
  top:5px;
  right:5px;
  cursor:pointer;
  --webkit-appearance:none;
  appearance:none;
}
.history_butt{
  bottom:0;
  position:fixed;
  margin-bottom:10vh;
}
.slide-container{
  width:100%;
  height:100%;
  position:relative;
  margin:auto;
}
.meals{
  display:grid;
  /* grid-template-columns: 25% 50% 25%; */
  grid-template-rows: 20% 80%;
  height:100%;
}

.meal_desc{
  grid-row: 2;
  grid-column: 2/3;
  /* width: 90%; */
  padding-top: 2vh;
  /* justify-content: space-evenly; */
  text-align: left;
}
/* div.p.meal_desc{
  text-align: center;
} */
/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: black;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

button{
  font-family: 'Bebas Neue', cursive; 
    background-color: #01baef; 
    text-align: center; 
    text-decoration: none;
    border-radius: 25px;
}
/* Position the "next button" to the right */

.button-container {
  display: flex; 
  justify-content: center; 
  gap: 20px;
}
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* Calorie Counter */
#calorie-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%
}

.calorie-inputs {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 10px;
}

.input-field {
  display: flex;
  flex-direction: column;
  margin: 5px;
  font-size: 20px;
}

.input-field input {
  padding: 5px;
  margin-top: 5px;
}

.calorie-buttons {
  display: flex;
  justify-content: center;
}

#item-calories {
  width: 50px;
  margin-right: 10px;
}

#calorie-content h2 {
  font-size: 32px;
}

#meal-list {
  font-size: 20px;
}

.meal-list-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 300px;
}

.bx-trash {
  cursor: pointer;

}

.bx-trash:hover {
  color: red;
}

#workouts {
  padding: 10px;
  height: calc(100vh - 20px);
  width: 25vw;
  min-width: 300px;
  position: absolute;
  right: 0;
  border-left: 1px solid lightgray;
  overflow-y: auto;
}

#searchbox {
  width: calc(100% - 10px);
  margin-left: 3px;
  margin-bottom: 10px;
}

#presetWorkoutTable {
  border-collapse: collapse; /* Collapse borders */
  width: 100%; /* Full-width */
  border: 1px solid #ddd; /* Add a grey border */
  font-size: 18px; /* Increase font-size */
}

#presetWorkoutTable th, #presetWorkoutTable td {
  text-align: left; /* Left-align text */
  padding: 12px; /* Add padding */
}

#presetWorkoutTable tr {
  /* Add a bottom border to all table rows */
  border-bottom: 1px solid #ddd;
}

#presetWorkoutTable tr.header, #presetWorkoutTable tr:hover {
  /* Add a grey background color to the table header and on hover */
  background-color: #f1f1f1;
}